# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

,app,lights,T_in,RH_in,T_out,RH_out
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,7.411665,79.750418
std,102.524891,7.935988,1.606066,3.979299,5.317409,14.901088
min,10.000000,0.000000,16.790000,27.023333,-5.000000,24.000000
25%,50.000000,0.000000,20.760000,37.333333,3.666667,70.333333
50%,60.000000,0.000000,21.600000,39.656667,6.916667,83.666667
75%,100.000000,0.000000,22.600000,43.066667,10.408333,91.666667
max,1080.000000,70.000000,26.260000,63.360000,26.100000,100.000000