# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('energydata_complete.csv')

df0.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- None since I am planning to do a clustering analysis

**IVs**:
- Energy Consumption from Aplliances (Wh) ("Appliances" column in the CSV file)
- Energy Consumption from Lights (Wh) ("lights" column in the CSV file)
- Temperature in the Living Room (C)  ("T1" column in the CSV file)
- Humidity in the Living Room (%)  ("RH_1" column in the CSV file)
- Temperature Outdoors (C)  ("T_out" column in the CSV file)
- Humidity Outdoors (%) ("RH_out" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[  ['Appliances', 'lights', 'T1', 'RH_1', 'T_out', 'RH_out']  ]

df.describe()

,Appliances,lights,T1,RH_1,T_out,RH_out
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,7.411665,79.750418
std,102.524891,7.935988,1.606066,3.979299,5.317409,14.901088
min,10.000000,0.000000,16.790000,27.023333,-5.000000,24.000000
25%,50.000000,0.000000,20.760000,37.333333,3.666667,70.333333
50%,60.000000,0.000000,21.600000,39.656667,6.916667,83.666667
75%,100.000000,0.000000,22.600000,43.066667,10.408333,91.666667
max,1080.000000,70.000000,26.260000,63.360000,26.100000,100.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'Appliances':'app', 'T1':'T_in', 'RH_1':'RH_in'} )

df.describe()

,app,lights,T_in,RH_in,T_out,RH_out
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,7.411665,79.750418
std,102.524891,7.935988,1.606066,3.979299,5.317409,14.901088
min,10.000000,0.000000,16.790000,27.023333,-5.000000,24.000000
25%,50.000000,0.000000,20.760000,37.333333,3.666667,70.333333
50%,60.000000,0.000000,21.600000,39.656667,6.916667,83.666667
75%,100.000000,0.000000,22.600000,43.066667,10.408333,91.666667
max,1080.000000,70.000000,26.260000,63.360000,26.100000,100.000000